# Node.js
node_modules/
.next/
dist/
out/
*.log

# .NET
bin/
obj/
*.user
*.vs
.vscode/
*.db
BuildHost-net472/
BuildHost-netcore/

# macOS
.DS_Store

# Rider
.idea/

/packages/
riderModule.iml
/_ReSharper.Caches/